doctype html
html
  head
    title= 'PartyWaker'
    include bootstrap
    link(rel='stylesheet', href='/stylesheets/style.css')
  body 
    div(class='header')
      block header 
    div(class='content')
      block content
    div(class='footer')
      block footer
  script(src='/javascripts/script.js')