doctype html
html
  head
    title= 'PartyWaker'
    link(rel='stylesheet', href='/stylesheets/Game/style.css')
  body 
    block header 
    block content
    block footer
  script(src='/javascripts/Game/script.js', type='module')