h1(id="title")= title
div(class="menuButtons")
    button(id='neverEverButton', class="btn btn-primary btn-lg") neverEverTitle 
    button(id='truthOrDareButton', class="btn btn-secondary btn-lg") truthOrDareTitle
    button(id='rumbleButton', class="btn btn-secondary btn-lg") rumbleTitle