doctype html
html
  head
    title= 'PartyWaker'
    link(rel='stylesheet', href='/stylesheets/Menu/style.css')
  body 
    block header 
    block content
    block footer
  script(src='/javascripts/Menu/script.js')