extends layout 

block header 
  h1= title
block content
  button(onclick=button1function) button1title 
  button(onclick=button2function) button2title
  button(onclick=button3function) button3title
block footer 
  button language